services:
  website:
    image: ghcr.io/stratumauth/website:latest
    container_name: stratum-website
    restart: always
    environment:
      - FLASK_ENV=production
    ports:
      - "8000:8000"
    secrets:
      - flask_secret_key
      - recaptcha_private_key
      - mail_username
      - mail_password
      - mail_recipient

secrets:
  flask_secret_key:
    environment: FLASK_SECRET_KEY
  recaptcha_private_key:
    environment: RECAPTCHA_PRIVATE_KEY
  mail_username:
    environment: MAIL_USERNAME
  mail_password:
    environment: MAIL_PASSWORD
  mail_recipient:
    environment: MAIL_RECIPIENT
