black==24.10.0
blinker==1.8.2
cachelib==0.9.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
email_validator==2.2.0
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Mail==0.10.0
Flask-WTF==1.2.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
mistune==3.0.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
protobuf==5.28.2
py-redis==1.1.1
redis==5.0.8
requests==2.32.3
urllib3==2.2.3
Werkzeug==3.0.4
WTForms==3.1.2
