{% extends "base.jinja" %}

{% block content %}
    <div class="container">
        <header id="hero">
            <h1 class="mb">{% block title %}Download{% endblock %}</h1>
            <p class="mb0">{% block description %}Download the open-source Stratum app for free{% endblock %}</p>
        </header>

        <main id="content">
            <p class="mb2">Stratum was previously available under the name "Authenticator Pro". However, due to a Google Play policy issue, the app was republished under a new name. See the <a href="https://github.com/stratumauth/app/issues/1162" target="_blank" rel="nofollow">GitHub issue</a> for more information. The app is compatible with all previously created backups.</p>
            
            <section class="mb2">
                <div class="row gaps2 mb2">
                    <div class="column sm-col12 sm-between sm-mb2 md-col4">
                        <div>
                            <h3 class="mb">Google Play</h3>
                            <p class="mb2">Download the full version of the app with some proprietary features</p>

                            <ul class="checklist mb2">
                                <li><i class="icon-check"></i><div class="text">Wear OS support</div></li>
                                <li><i class="icon-check"></i><div class="text">Targeted with smaller install size</div></li>
                                <li><i class="icon-clear"></i><div class="text">Proprietary components (Wear OS)</div></li>
                                <li><i class="icon-clear"></i><div class="text">Longer time between release and availability</div></li>
                            </ul>
                        </div>

                        <a href="https://play.google.com/store/apps/details?id=com.stratumauth.app" rel="nofollow noopener" target="_blank">
                            <img src="{{ url_for('static', filename='img/googleplay.png') }}" alt="Download on Google Play" width="201" height="60">
                        </a>
                    </div>

                    <div class="column sm-col12 sm-between sm-mb2 md-col4">
                        <div>
                            <h3 class="mb">Stratum repo</h3>
                            <p class="mb2">Download a Free software release for all devices</p>

                            <ul class="checklist mb2">
                                <li><i class="icon-check"></i><div class="text">100% Free software</div></li>
                                <li><i class="icon-check"></i><div class="text">Release available quickly</div></li>
                                <li><i class="icon-clear"></i><div class="text">Requires specific F-Droid repo</div></li>
                                <li><i class="icon-clear"></i><div class="text">Large download size</div></li>
                                <li><i class="icon-clear"></i><div class="text">No Wear OS support</div></li>
                            </ul>
                        </div>

                        <a href="https://stratumauth.com/fdroid/repo" target="_blank">
                            <img src="{{ url_for('static', filename='img/fdroid.png') }}" alt="Download from Stratum repo" width="201" height="60">
                        </a>
                    </div>

                    <div class="column sm-col12 sm-between md-col4">
                        <div>
                            <h3 class="mb">IzzyOnDroid repo</h3>
                            <p class="mb2">Download a Free software release for 64-bit devices</p>

                            <ul class="checklist mb2">
                                <li><i class="icon-check"></i><div class="text">100% Free software</div></li>
                                <li><i class="icon-check"></i><div class="text">Release available quickly</div></li>
                                <li><i class="icon-check"></i><div class="text">Popular F-Droid repo</div></li>
                                <li><i class="icon-clear"></i><div class="text">64-bit support required</div></li>
                                <li><i class="icon-clear"></i><div class="text">No Wear OS support</div></li>
                            </ul>
                        </div>

                        <a href="https://apt.izzysoft.de/fdroid/index/apk/com.stratumauth.app" rel="nofollow noopener" target="_blank">
                            <img src="{{ url_for('static', filename='img/izzyondroid.png') }}" alt="Download from IzzyOnDroid" width="219" height="60">
                        </a>
                    </div>
                </div>

                <h3 class="mb">Install from an APK file</h3>
                <p>Alternatively, you can download an APK file for the latest release ({{ latest_tag }}) directly from the <a href="https://github.com/stratumauth/app/releases/{{ latestTag }}">GitHub releases page</a>.</p>
            </section>

            <section>
                <h2 class="mb">Download source code</h2>
                <p class="mb0">The source code for Stratum is hosted on <a href="https://github.com/stratumauth/app" rel="nofollow noopener">GitHub</a>.</p>
            </section>
        </main>
    </div>
{% endblock %}