{% extends "base.jinja" %}

{% block content %}
    <div class="container">
        <header id="hero">
            <h1 class="mb">{% block title %}Feedback{% endblock %}</h1>
            <p class="mb0">{% block description %}Provide feedback for the Stratum app{% endblock %}</p>
        </header>

        <main id="content">
            <div class="row reverse gaps2">
                <div class="sm-col12 md-col4 sm-mb3">
                    <h2 class="mb2">Guidelines</h2>
                    <p>This form is for feedback regarding the Stratum app. Please take note of the following guidelines:</p>

                    <ul>
                        <li><strong>No support</strong>: Support will not be provided from this form. Please check out the <a href="/wiki/faq">FAQ</a> for common answers.</li>
                        <li><strong>Bugs</strong>: Please create an issue on <a href="https://github.com/stratumauth/app/issues" rel="nofollow noopener">GitHub</a> if possible</li>
                        <li><strong>Other enquiries</strong>: Please use the form and provide as much detail as deemed necessary</li>
                    </ul>
                </div>
                <div class="sm-col12 md-col8">
                    {% if success != True %}
                        {% if success == False %}
                            <strong class="block mb">An error occurred when sending the message, please try again.</strong>
                        {% endif %}
                        
                        <form action="/feedback" method="post">
                            {{ form.csrf_token }}

                            {% for errors in form.errors.values() %}
                                {% for error in errors %}
                                    <strong class="block mb">{{ error }}</strong>
                                {% endfor %}
                            {% endfor %}

                            <div class="mb2">
                                <label for="email">Email address<br><small>An email to reply to</small></label>
                                {{ form.email }}
                            </div>

                            <div class="mb2">
                                <label for="subject">Subject<br><small>A brief description of your message</small></label>
                                {{ form.subject }}
                            </div>

                            <div class="mb2">
                                <label for="message">Message<br><small>Your message text</small></label>
                                {{ form.message }}
                            </div>

                            <div class="row">
                                <div class="sm-col">
                                    {{ form.captcha }}
                                </div>
                                <div class="sm-col">
                                    <button class="button primary right" type="submit"><i class="icon-send"></i>Send</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <strong class="mb">Thanks for your message!</strong>
                        <p>We'll get back to you as soon as possible.</p>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
